.navb {background-color: rgb(36, 32, 32);}
#head {
    color: white;
    margin: auto 0px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

video{
    margin: 0px 0px;
    
}

ul{list-style: none;
    margin: 30px 0px;
}

ul>li {
    font-weight: bold;
    margin: 0px 30px;

}

.button{
    
    border-radius: 5px;
    padding: 12px 40px;
    color: white;
    background-color: rgb(218, 84, 44);
}
.button:hover{

    background-color: aqua;
    transition: 0.3s;
}

#loginbutton{color: rgb(107, 104, 104);
    transition: 0.3s;}

#loginbutton:hover{
    color: aqua;
    transition: 0.3s;
    }

#classvalue{
    background-color: rgb(255, 255, 255);
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    margin: auto;
    padding: 50px 0px;

}

i+h1 {
    color: rgb(224, 79, 59);
    font-size: 60px;
    font-weight: bolder;
}


#beforeafter {
    padding: 30px;
    transition: 0.3s;
    border-radius: 10px;
}


#beforeafter:hover{
    background-color: gray;
    padding: 30px;
    transition: 0.3s;
}

#onscroll{
    background-color: white;
    color: black;
    position: fixed;
    top: -100px;
    transition: 1s;
    z-index: 2;
    box-shadow: 0px 5px 10px #d1d0d0;
}


.card{
    opacity: 0;
    top : 50px;
    border: none;
    background: none;
}
.show{
    opacity: 1;
    top:0px;
    transition: 1s;
}


.plate{
    width: 360px ;height: 360px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #d1d0d0;
}

.plate2{
    width: 360px ;height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0.2px 10px #d1d0d0;
}  



.plateflip{
    transition: transform 1s;
    transform-style: preserve-3d;

    transform: rotatex(90deg);
    perspective: 100px;
}

.plateflip.flip{
    transform: rotatex(0deg);}


.accordion-item{
  background-color: #f7f7f7;
  border-style: none;
  box-shadow: 0px 5px 10px #d1d0d0;
  width: 500px;
  margin :20px;
}

.accordion-button {
    background-color: #f7f7f7;
    font-size: 0.6em;
}



.accordion-button:not(.collapsed){
    background-color: #f7f7f7;
    border-style: none;
    color: black;
    font-size: 0.6em;
  }

  .accordion-button::after {
    color:  rgb(224, 79, 59) ;
  }
  
  
  .price{
    margin-top: 0px;
    transition: 0.5s;
    border-style: solid;
    border-color: rgb(224, 79, 59) ;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 0px 5px 10px #d1d0d0;
  }

.price>ul>li{
    margin: 10px;
}


.price:hover{
    margin-top: -10px;
    transition: 0.5s;
}


.re{
    width: 100px;
    margin: 20px;
    border-style: solid;
    border-color: rgb(224, 79, 59) ;
    border-radius: 5px;
    border-width: 1px;
}

#icon>i{
    margin: 10px;
    color:#d1c5c5 ;
    transition : 0.4s;  
}

#icon>i:hover{
    color: rgb(224, 79, 59);
    transition : 0.4s;

}






  
  .slider-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .slider-container .slick-list {
    overflow: visible;
  }
  
.re {
    transition: opacity .5s
  }
  
.re.slick-slide {
    opacity: 0.0;
  }
  
.re.slick-active {
    opacity: 1;
  }

  .re.slick-active:hover{
    background-color: rgb(129, 129, 136);
  }


  .course{
    width:500px;margin: 20px;
    background-color:  #696969;
    border-radius:5px;
    transition: 0.3s;
  }

  .course:hover{
    background-color:  #918b8b;
    transition: 0.3s;
  }

 